.updateComposeContainer {
  width: 520px;
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 30px;
  background-color: white;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
